{%- if breadcrumbs and breadcrumbs.length > 1 %}
{%- set breadcrumbSchema = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": []
} %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {%- for crumb in breadcrumbs %}
    {
      "@type": "ListItem",
      "position": {{ loop.index }},
      "name": {{ crumb.name | dump | safe }}{% if crumb.url %},
      "item": {{ (site.baseUrl + crumb.url) | dump | safe }}{% endif %}
    }{% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
</script>
{%- endif %}
