<script type="application/ld+json">
{{ {
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": site.organization.name,
  "url": site.organization.url,
  "logo": site.baseUrl + site.organization.logo
} | jsonld | safe }}
</script>
