---
title: "比較記事一覧"
description: "複数の商品を軸で比較した記事の一覧です。"
pagination:
  data: collections.comparisons
  size: 12
  alias: items
permalink: "{{ pagination.pageNumber | pageUrl('/comparisons/') }}"
---
{% extends "layouts/base.njk" %}
{% set breadcrumbs = [{ name: "トップ", url: "/" }, { name: title, url: null }] %}
{% block head %}{% include "schema/breadcrumb.njk" %}{% endblock %}
{% block content %}
<div class="wrap">
  {% include "partials/breadcrumbs.njk" %}
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  {% set listItems = items %}
  {% set totalPages = pagination.pages.length %}
  {% set pagerCurrent = pagination.pageNumber + 1 %}
  {% set pagerPrevUrl = pagination.href.previous %}
  {% set pagerNextUrl = pagination.href.next %}
  {% include "partials/listing-grid.njk" %}
</div>
{% endblock %}
