<article class="article-card">
  <a class="article-card-link" href="{{ item.url }}">
    {%- if item.data.ogImage %}
    <img class="article-card-image" src="{{ item.data.ogImage }}" alt="" width="320" height="200" loading="lazy">
    {%- endif %}
    <div class="article-card-body">
      <span class="article-card-category">{{ (categories | categoryBySlug(item.data.category)).name or item.data.category }}</span>
      <h3 class="article-card-title">{{ item.data.title }}</h3>
      <p class="article-card-description">{{ item.data.description }}</p>
      <time class="article-card-date" datetime="{{ item.data.updateDate or item.data.publishDate }}">{{ (item.data.updateDate or item.data.publishDate) | dateDisplay }}</time>
    </div>
  </a>
</article>
